@import "../../sass/variables";
@import "../../sass/mixin";

.dark-add {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

@keyframes darkSlideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 39%;
  }
}

@keyframes darkSlideOut {
  0% {
    right: 39%;
  }
  100% {
    right: -100%;
  }
}

.active-dark {
  animation: darkSlideIn 0.3s ease-in-out forwards;
}

.default-dark {
  animation: darkSlideOut 0.3s ease-in-out forwards;
}

.modal-add {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  @include breakpoint(phablet) {
    width: 39%;
  }
  &__form {
    width: 100%;
    padding: 20px;
    max-width: 350px;
    color: $secondary-color;
    font-size: $font-medium;
    input {
      margin-top: 5px;
      padding: 10px;
      width: 100%;
      font-size: $font-small;
      color: $primary-color;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 7px;
    }
    .form-group + .form-group {
      margin-top: 20px;
    }
    .form-select {
      margin-top: 5px;
      background: transparent;
      color: $primary-color;
      padding: 10px 20px;
      width: 100%;
      option {
        color: #000;
        padding: 10px 0;
        list-style: none;
      }
    }
    .form-btns {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;

      .btn-add {
        background: transparent;
        color: #187ec2;
        border-color: #187ec2;
        border-width: 3px;
        font-weight: 800;
        cursor: pointer;
        &:hover {
          background: #187ec2;
          color: #fff;
        }
      }
      .btn-cancel {
        background: transparent;
        color: #ed5e68;
        border-color: #ed5e68;
        border-width: 3px;
        font-weight: 800;
        cursor: pointer;
        &:hover {
          background: #ed5e68;
          color: #fff;
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.active-modal {
  animation: slideIn 0.25s ease-in-out forwards;
}

.default {
  animation: slideOut 0.25s ease-in-out forwards;
}
