@import "../../sass/variables";

.login__container {
  background: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
  }
  .login-btn {
    background: #84bf40;
    padding: 10px 20px;
    font-size: $font-medium;
    color: #000000;
    &:hover{
        background: #000000;
        border-color: #84bf40;
        color: #ffff;
    }
  }
}