@import "./sass/reset";
@import "./sass/variables";
@import "./sass/mixin";
@import "./sass/base";


.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .filter {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(20px);
  }
  #main {
    margin-top: 70px;
    padding-bottom: 70px;
  }
  
  
  #audio-info {
    //margin-top: 0px;
    padding: 20px 0;
    .audio-info__wrapper {
      .title {
        height: 100%;
        h1 {
          font-size: 10vw;
          color: $primary-color;
        }
      }
      .image {
        padding: 30px 0 0 0;
        .image__wrapper {
          display: flex;
          justify-content: center;
          img {
            width: 300px;
            height: auto;
            border-radius: 0 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    @include breakpoint(phablet) {
      .audio-info__wrapper {
        .title {
          h1 {
            font-size: 4rem;
          }
        }
      }
    }
    @include breakpoint(tablet) {
      .audio-info__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 400px;
        .title {
          flex: 1;
          h1 {
            font-size: 6rem;
          }
        }
        .image {
          flex: 1;
          .image__wrapper {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
    @include breakpoint(desktop) {
      .audio-info__wrapper {
        .title {
          flex: 2;
          h1 {
            font-size: 8rem;
            max-width: 800px;
          }
        }
        .image {
          .image__wrapper {
            img {
              width: 500px;
            }
          }
        }
      }
    }
  }
  
  #audio-list {
    padding: 20px 0;
    color: $secondary-color;
    h3 {
      font-size: $font-medium;
      color: $primary-color;
    }
    .playlist {
      flex: 1;
    }
    .lyrics {
      display: none;
      //height: 100%;
    }
    .list__wrapper {
      padding: 10px 0;
      .list {
        .list-item + .list-item {
          margin-top: 5px;
        }
        .list-item {
          padding: 7px 0;
          position: relative;
          font-size: $font-small;
          display: flex;
          align-items: center;
          &::after {
            content: "";
            background: $secondary-color;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          p {
            color: $primary-color;
          }
          span {
            color: $secondary-color;
          }
        }
      }
    }
    .audio-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      padding: 5px;
      margin-right: 20px;
    }
  
    @include breakpoint(tablet) {
      .lyrics {
        display: unset;
        flex: 1;
        margin-left: 30px;
        height: 100%;
        &__wrapper {
          padding-top: 20px;
          display: flex;
          justify-content: center;
          background: rgba(0, 0, 0, 0.5);
        }
      }
      .audio-img {
        width: 50px;
        height: 50px;
      }
    }
    @include breakpoint(desktop) {
      .lyrics {
        flex: unset;
        width: 500px;
      }
    }
  }
  
  #audio-player {
    width: 100%;
    position: fixed;
    bottom: 0;
    //padding: 15px 0;
    height: 70px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    .player__wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        color: $primary-color;
        background: transparent;
        border: none;
        outline: none;
        font-size: $font-medium;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
      button + button {
        margin-left: 25px;
      }
      .btn-play,
      .btn-pause {
        font-size: 3.5rem;
      }
    }
    @include breakpoint(tablet) {
      .player__wrapper {
        button + button {
          margin-left: 40px;
        }
      }
    }
  }