@import "../../sass/variables";
@import "../../sass/mixin";

#audio-list {
  display: flex;
  padding: 40px 0 20px 0;
  color: $secondary-color;
  h3 {
    font-size: $font-medium;
    color: $primary-color;
    margin-bottom: 10px;
  }
  p {
    color: $primary-color;
    font-size: $font-small;
  }
  span {
    color: $secondary-color;
  }
  .playlist {
    flex: 0.7;
    //padding-right: 10px;
    &__wrapper {
      height: 100%;
      padding: 10px 0;
    }
    &__item {
      padding: 20px 0;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        background: rgba(0,0,0,.5);
        p{
          transform: scale(1,1.3);
          font-weight: 700;
        }
      }
    }
    .playlist__item + .playlist__item {
      margin-top: 5px;
    }
  }
  .musics {
    flex: 1;
    margin-left: 10px;
    &__wrapper {
      padding: 10px 0;
      max-height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100px;
      }
      &:hover{
        &::-webkit-scrollbar {
          display: unset;
        }
      }
      .list {
        .list-item + .list-item {
          margin-top: 5px;
        }
        .list-item {
          padding: 7px 0;
          position: relative;

          display: flex;
          align-items: center;
          border-radius: 10px;
          cursor: pointer;
          animation: zoomOut 0.1s ease-in-out forwards;
          &::after {
            content: "";
            background: $secondary-color;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          &:hover {
            animation: zoomIn 0.1s ease-in-out forwards;
            p {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .lyrics {
    flex: 1;
  }
  .audio-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    padding: 5px;
    margin-right: 20px;
  }

  @include breakpoint(tablet) {
    .audio-img {
      width: 50px;
      height: 50px;
    }
  }
  @include breakpoint(desktop) {
    p {
      font-size: $font-medium;
    }
  }
}

@keyframes zoomIn {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    background: rgba(255, 255, 255, 0.1);
    transform: translate3d(10px, -10px, 10px);
  }
}

@keyframes zoomOut {
  0% {
    background: rgba(255, 255, 255, 0.1);
    transform: translate3d(10px, -10px, 10px);
    display: none;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}